Clients/Win32/ContactConsole/ContactConsole/Web References/pcode/default.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Postcode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="outcode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="incode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PostcodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PostcodeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PostcodeSoapIn">
    <wsdl:part name="parameters" element="tns:Postcode" />
  </wsdl:message>
  <wsdl:message name="PostcodeSoapOut">
    <wsdl:part name="parameters" element="tns:PostcodeResponse" />
  </wsdl:message>
  <wsdl:portType name="_defaultSoap">
    <wsdl:operation name="Postcode">
      <wsdl:input message="tns:PostcodeSoapIn" />
      <wsdl:output message="tns:PostcodeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="_defaultSoap" type="tns:_defaultSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Postcode">
      <soap:operation soapAction="http://tempuri.org/Postcode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="_defaultSoap12" type="tns:_defaultSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Postcode">
      <soap12:operation soapAction="http://tempuri.org/Postcode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="_default">
    <wsdl:port name="_defaultSoap" binding="tns:_defaultSoap">
      <soap:address location="http://www.v00t.co.uk:808/default.asmx" />
    </wsdl:port>
    <wsdl:port name="_defaultSoap12" binding="tns:_defaultSoap12">
      <soap12:address location="http://www.v00t.co.uk:808/default.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>